hello-service.wsdl

<!-- hello-service.wsdl -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/hello-service"
            name="HelloService">

    <types>
        <xsd:schema targetNamespace="http://example.com/hello-service">
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="greeting" type="xsd:string"/>
        </xsd:schema>
    </types>

    <message name="sayHelloRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="sayHelloResponse">
        <part name="greeting" type="xsd:string"/>
    </message>

    <portType name="Hello_PortType">
        <operation name="sayHello">
            <input message="tns:sayHelloRequest"/>
            <output message="tns:sayHelloResponse"/>
        </operation>
    </portType>

    <binding name="Hello_Binding" type="tns:Hello_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="Hello_Service">
        <port name="Hello_Port" binding="tns:Hello_Binding">
            <soap:address location="http://localhost:3000/hello"/>
        </port>
    </service>

</definitions>
